@import url('https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap');

:root {
	--first-color: #212226;
	--second-color: #00539c;
	--third-color: #f14666;
	--forty-color: #9db898;
	--textColor: #fff;
	--box-shadow: 0 5px 25px rgba(2, 2, 2, 0.1);
	--text-shadow: 0 5px 25px rgba(2, 2, 2, 0.1);
}

/* Tùy chỉnh thanh cuộn dọc */
::-webkit-scrollbar {
	width: 8px;
	/* Độ rộng của thanh cuộn */
	background-color: #f14666;
	/* Màu nền của thanh cuộn */
}

/* Tùy chỉnh nút cuộn */
::-webkit-scrollbar-thumb {
	background-color: #37474F;
	/* Màu của nút cuộn */
	/* border-radius: 10px; */
	/* Độ cong của nút cuộn */
}

/* Tùy chỉnh track (phần bên dưới của thanh cuộn) */
::-webkit-scrollbar-track {
	background-color: #ffffff;
	/* Màu nền của track */
}

/* Tùy chỉnh thanh cuộn ngang */
::-webkit-scrollbar {
	height: 10px;
	/* Chiều cao của thanh cuộn */
}

/* Màu nền của thanh cuộn */
::-webkit-scrollbar-track {
	background-color: #ffffff;
	/* Màu nền */
	/* border-radius: 10px; */
	/* Độ cong của viền */
}

/* Màu của phần cuộn */
::-webkit-scrollbar-thumb {
	background-color: #37474F;
	/* Màu của phần cuộn */
	/* border-radius: 10px; */
	/* Độ cong của viền */
}

body {
	background-color: var(--first-color);
}

section {
	position: relative;
	margin: 0 80px;
	transition: 0.5s ease;
}


.main-container {
	position: relative;
}

* {
	margin: 0;
	padding: 0;
	box-sizing: border-box;
	font-family: 'Poppins', sans-serif;
}

/* tab */

.tab-menu {
	color: var(--textColor);
	list-style: none;
	background-color: var(--third-color);
	max-width: 800px;
	padding: 10px;
	white-space: nowrap;
	border-bottom: 1px solid var(--third-color);
	box-shadow: var(--box-shadow);
	border-radius: 50px;
	overflow-x: auto;
	user-select: none;
	scroll-behavior: smooth;
	/* opacity: 80%; */
}

.tab-menu.dragging {
	scroll-behavior: unset;
	cursor: grab;
}

.tab-menu::-webkit-scrollbar {
	display: none;
}

.tab-nav {
	position: relative;
	display: flex;
	justify-content: center;
	align-items: center;
	max-width: fit-content;
	margin: 0 auto;
}

.tab-nav-bar {
	position: relative;
	margin: 65px 10px 40px 10px;
}

.tab-btn {
	color: var(--textColor);
	display: inline-block;
	font-size: 1em;
	font-weight: 400;
	margin: 0 12px;
	padding: 10px 20px;
	border-radius: 30px;
	user-select: none;
	transition: 0.3s ease;
}

.tab-menu.dragging .tab-btn {
	pointer-events: none;
}


.tab-btn:hover {
	background-color: var(--second-color);
}

.tab-btn.active {
	background: var(--second-color);
}

.left-btn,
.right-btn {
	position: absolute;
	text-shadow: var(--text-shadow);
	color: var(--text-shadow);
	font-size: 1.8em;
	padding: 10px;
	cursor: pointer;
}


.left-btn {
	position: absolute;
	top: 50%;
	transform: translateY(-50%);
	left: 23px;
	/* background: linear-gradient(to left, transparent, var(--third-color) 80%); */
	border-top-left-radius: 30px;
	border-bottom-left-radius: 30px;
	display: none;
	color: white;
}


.right-btn {
	right: 23px;
	background: linear-gradient(to right, transparent, var(--third-color) 80%);
	border-top-right-radius: 50px;
	border-bottom-right-radius: 40px;
	color: white;
}

/* Thanh cuộn dọc đẹp */
.scrollable-container {
	width: 300px;
	/* Chiều rộng của thanh cuộn */
	height: 200px;
	/* Chiều cao của thanh cuộn */
	overflow-y: auto;
	/* Hiển thị thanh cuộn dọc khi nội dung vượt quá kích thước của container */
}

.content {
	/* Phần này có thể chứa nội dung của bạn, với chiều rộng lớn hơn container để tạo ra thanh cuộn dọc */
	width: 100%;
	height: auto;
}

/* TAB Content */

.tab-content {
	position: relative;
	display: flex;
	justify-content: center;
	width: 100%;
}

.tab {
	/* position: relative; */
	position: absolute;
	top: 0;
	right: auto;
	bottom: 0;
	max-width: 1100px;
	padding: 15px 50px;
	transform: translateX(25px);
	content-visibility: hidden;
	opacity: 0;
}


.tab.active {
	transform: translateX(0);
	content-visibility: visible;
	opacity: 1;
	transition: 1s ease;
}

.tab .img-card {
	position: relative;
	width: 450px;
	max-width: 450px;
	border-radius: 20px;
	overflow: hidden;
	display: flex;
	justify-content: center;
	align-items: center;
	box-shadow: var(--box-shadow);
}

.tab .img-card img {
	width: 100%;
}

.tab .row {
	width: 100%;
	display: flex;
	justify-content: center;
	align-items: center;
	margin: 50px 0;
	gap: 30px;
}

.right-column {
	max-width: 800px;
}

.info .city,
.info .description p {
	color: var(--textColor);
	margin-bottom: 10px;
}

.info .city {
	font-size: 2em;
}

.country {
	color: var(--forty-color);
	font-size: 5em;
	font-weight: 700;
	text-align: center;
	text-shadow: var(--text-shadow);
	opacity: 50%;
}

/* Truy cap vao thiet bi khac va thay doi kich thuoc */

@media screen and (max-width: 1050px) {
	section {
		margin: 0 0px;
	}

	.tab-nav-bar {
		/* position: relative; */
		margin: 65px 20px 40px 25px;
	}

	.tab {
		padding: 15px 10px;
	}

	.tab .row {
		margin: 5px 0;
		flex-direction: column;
	}

	.tab .img-card {
		width: auto;
		max-width: 600px;
	}

	.country {
		font-size: 10vw;
		padding-bottom: 50px;
	}

}